
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #ff9900;
$color-blue: #3300cc;
$color-purple: #990099;
$color-violet: #ff00ff;
$color-sky: #0066ff;

$font-size: 10px;

$font-1: "Dosis", sans-serif;
$font-2: "Edu QLD Beginner", cursive;
$font-3: "Pacifico", cursive;

$content-md-width: 1480px;
$content-small-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;